﻿
// ------------------------------------------ Fonts  


// ------------------------------------------ Common Classes
.ghost {
	display: none !important;
}
.small           { font-size: .8em; line-height: 1.875em; }
.large           { font-size: 1.2em; line-height: 1.25em; }
mark, .highlight       { background: #ffc; }





// ------------------------------------------ Body  
body {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', Arial, Helvetica, sans-serif;
	background-color: #fff;
	color: #000;
	min-width: 300px;
	padding-top: 32px;

}

// ------------------------------------------ Images 
img {
	max-width: 100%;
	height: auto;
}
	img.left {
		margin: 0px auto 20px auto;
		width: 90%;
	}
	img.right {
		margin: 0px auto 20px auto;
		width: 90%;
	}
	img.middle {
		display: block;
		margin: 0px auto 20px auto;
		width: 90%; 
	}
a img {
	border: 0;
}
 img[style*="float:left;"] {
	float: left;
	margin: 0 30px 30px 0;
	}
 img[style*="float:right;"] {
		float: right;
		margin: 0 0 30px 30px;
	}
// ------------------------------------------ Tables  

th, td, table {
    border: 1px solid #d7d5d3;
    border-width: 0 1px 1px 0;
    vertical-align: top;
}
table {
	margin: auto;
	margin-bottom: 30px;
	font-size: 1em;
	width: 90% !important;
	max-width: 100%;
	overflow: hidden;
	border: 1px solid #d7d5d3;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.7em;
	font-family: Georgia;
    }
table.numeric {
    	text-align: right;
	}


tr:nth-child(odd), tr.odd, tr.odd {
    background-color: #fff;
}
tr:nth-child(even), tr.even, tr.even {
    background-color: #efece4;
}
th, thead th, tbody th {
    border-color: #d7d5d3;
}
td, tbody th {
    padding: .875em;
}
thead th {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: #aba698;
    padding: 1.25em;
}
tbody {
    border-top: 1px solid #ccc;
    }
    th {
        border-bottom: 1px solid #ccc;
	}




// ------------------------------------------ Lists 


	ul {
		list-style-type:disc;
		margin: 0px 0px 25px 35px;
		font-family: Georgia,  Times New Roman,serif;

	}
	ul.arrows {
	
    		list-style-image: url(../i/icons/bullet-red.png);
	
	}
	ol {
		margin: 0px 0px 25px 35px;
		font-family: Georgia, Times New Roman,serif;
		
			}
			ol li {
			list-style-type: decimal; 
			}
			ol li.roman-upper {
				list-style-type: upper-roman;
			}
			ol li.roman-lower {
				list-style-type: lower-roman;
			}
			ol li.alpha-upper {
				list-style-type: upper-alpha;
			}
			ol li.alpha-lower {
				list-style-type: lower-alpha;
			}
	

	li {
		margin: 0px 0px 0 4px;
		font-size: 1em; 
		line-height: 1.5;
		font-family: Georgia;
		}
		li.no-bullet {
			    list-style-type: none;
		} 
		li li {
			font-size: .95em;
		}
	
	ul ul {
		margin: 15px 0px 15px 31px;
		list-style-type: circle;
		}
		 ul ul ul {
			list-style-type:disc;
		}	

	ol ol {
		margin: 15px 0px 15px 31px;
		
		}
		
		
		ol ol  li {
			list-style-type: lower-alpha;
		}

			
			ol ol ol li {
				list-style-type: lower-roman;
			}
		
	


	li.expanded, li.collapsed, li.leaf {
  		padding: 0 0 0 0;
		margin: 0;
 	 	list-style-image: none;
 	 	list-style-type: none;
	}


// ------------------------------------------ Links 
a {
	text-decoration: none;
	color: #C00404;
	transition: 0.2s linear;
	-webkit-transition: 0.2s linear;

}
.more-link {
	text-align: left;
}

a.button {
		-moz-border-radius: 10px;	
		-webkit-border-radius: 10px;	 
		border-radius: 10px; 
		background-color: #513f3c; 
		color: #FFFFFF !important;
			font-family: 'Lucida Sans Unicode', 'Lucida Grande', Garuda, 'Roboto', Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		display: inline-block;
		padding: 6px 16px;
		font-size: 18px;
		border: 1px solid #d57934;
}

	a[href$='.pdf'] { 
		padding:0 20px 0 0; 
		background:transparent url(../i/icons/pdf.gif) no-repeat center right; 
		}
		a&[href$='.doc'] { 
		padding:0 20px 0 0; 
		background:transparent url(../i/icons/doc.gif) no-repeat center right; 
		}
		a[href$='.xls'] { 
			padding:0 20px 0 0; 
			background:transparent url(../i/icons/xls.gif) no-repeat center right; 
		}
		a[href ^="mailto:"] {
			padding:0 20px 0 0; 
			background: transparent url(../i/icons/mailto.gif) no-repeat center right; 
		}
		a[href*="//"]:not([href*="brown.edu"]) {
			padding:0 20px 0 0; 
			background: transparent url(../i/icons/external.gif) no-repeat center right; 
		}



// ------------------------------------------ Headers


	h1, h2, h3, h4, h5, h6 {
		line-height: 1.1;
		margin: 1em 0 0.5em 0;
	}

	h1, h3, h5 {
		font-family: 'Lucida Sans Unicode', 'Lucida Grande', Garuda, 'Roboto', Arial, Helvetica, sans-serif;  
		border-bottom: none;
		text-transform: none;
	
	}
	h2, h4, h6 {
		font-family:  'Vitesse SSm A', 'Vitesse SSm B', Vitesse, Arial, sans-serif;
		font-weight: bold; 
	}
	h1 {
		font-size: 1.6em;
		margin: 0 0 1em 0;
		text-decoration: line-through; 
		
	}
	h2.title  {
		font-family:  'Vitesse SSm A', 'Vitesse SSm B', Vitesse, Arial, sans-serif; 	
		font-weight: bold;
		border-bottom: 1px solid #FFCC00;
		text-transform: uppercase;
		line-height: 1.3;
		padding: 0 0 4px 0;
		display: block;
		margin:  0 0 0.75em 0;
	}
	.block-user-login h2.title {
		font-size: 1em;
		margin: 0 0 15px 0;
	}
	h2  { 
		font-size: 1.7em;
	}
	.articles h2 {
		font-family: Arial !important; 
	}
	h3  { 
		 font-size: 1.6em;

	}
	h4 {
		 font-size: 1.3em;  
		font-weight: bold;
	}
	h5 {
		 font-size: 1em; 

	}
	h6 {
		border-bottom: 1px solid #FFCC00;
		line-height: 0;
		text-align: center;
		padding: 0 5%;
		margin: 3em 0 2em 0 !important;
		font-size: 1em;
		text-transform: uppercase;
		  text-shadow:
       1px 1px 0 #FFF,
     -1px -1px 0 #FFF,  
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
       1px 1px 0 #FFF, ;

	}
	h6 span {
       	background-color: #FFF;
       	padding: 0 10px;
       }


		
	
		
			p + h2, p + h3, p + h4, p + h5, p + h6 {
        	margin-top: 1.3em;
    		}
    			ul + h2, ul + h3, ul + h4, ul + h5, ul + h6 {
       	margin-top: 1.3em;
    		}
    			blockquote + h2, blockquote + h3, blockquote + h4, blockquote + h5, + blockquote h6 {
        		margin-top: 1.3em;
    		}
    		table + h2, table + h3, table + h4, table + h5, table + h6 {
        	margin-top: 1.3em;
    		}

// ------------------------------------------ Other Elements  

	strong {
		font-weight: bold;
	}
	em {
		font-style: italic; 
	}
	p {
		font-size: 1em;
		color: #000;
		font-family: Georgia, Times New Roman,serif;
		margin: 0 0 1em 0;
		line-height: 1.6;
		word-break: break-all;
   	 	word-break: break-word;
		-webkit-hyphens: auto;
    	-moz-hyphens: auto;
   	 	-ms-hyphens: auto;
     	hyphens: auto; 
    }
    	p.lead {
    		font-family: 'Lucida Sans Unicode', 'Lucida Grande', Garuda, 'Roboto', Arial, Helvetica, sans-serif;
    		font-size: 1.5em;
    		margin: 0 0 0.8em 0;
    	}
		p.bio-name {
			font: bold 1.4em/1.7em Arial,serif;
			margin-bottom: 0;
			color: #2f2a20;
		}
		p.bio-title {
			font: bold 1.3em/1.7em Arial,serif;
			margin-bottom: 0;
			color: #2f2a20;
		}
		p.bio-intro {
			clear: left;
		}

	code, pre  {   
		font-family: monospace, serif;
        font-size: 1em; 
	}
	blockquote {
		width: 70%;
		margin: 1.5em auto 1.5em auto;
		font-size: 1.4em;
		font-family: Georgia, Times New Roman,serif;
		line-height: 1.2;
		padding: 10px 0 10px 30px;
		border-left: 2px solid #f3f0ea;
		quotes: "\201C""\201D""\2018""\2019";
		}
		blockquote p {
			font-size: 1.3em;
			line-height: 1.2;
			display: inline;
		}
		blockquote::before {
			content: open-quote;
			font-family: Georgia, Times New Roman,serif;
			padding: 0 3px 0 0;
			display: inline;
			margin-left: -15px;
			font-size: 1.3em;
		}
		blockquote::after {
			font-family: Georgia, Times New Roman,serif;
			content: close-quote;
			padding: 0 0 0 0;
			margin: 0 0 0 -3px 0;
			display: inline;
			font-size: 1.3em;
		}

	hr {
		border: none;
		border-bottom: 1px dotted #f3f0ea;
		margin: 2em auto;
		width: 75%;
	}

sup {
	font-size: 0.8em;
	    margin-top: -14px;
    display: inline-block;
    vertical-align: middle;
}
sub {
	font-size: 0.8em;
	    margin-bottom: -4px;
    display: inline-block;
    vertical-align: middle;
}
