// ------------------------------------------ 404 Page

#error-404 form.google-cse-searchbox-form {
    padding: 10px;
    margin: 0 0 30px 0;
    background-color: #3a1e1a;
    border-radius: 4px;
    display: inline-block;
    width: 90%;
    width: calc(100% - 20px);
    position: relative;
    border: none;
    line-height: 0;
	.search-field {
   	 	background-color: #f7f0f0;
   	 	font-family: Georgia, "Times New Roman", Times, serif;
   	 	font-style: italic;
   	 	padding: 2px 3px 1px 3px;
   	 	font-size: 12px;
   	 	width: 95%;
    	width: calc(100% - 16px);
    	line-height: 1.5;
   		 border: none;
    	height: 18px;
    	margin: 0 0 0 0;
	}
	.search-submit {
    	position: absolute;
    	margin: 0;
    	padding: 0;
    	border: none;
    	line-height: 0;
    	z-index: 33;
    	top: 10px;
    	right: 10px;
    	outline: none;
    	box-shadow: none;
	}

}
