// Sass Variables 
$sans:  'Lucida Sans Unicode', 'Lucida Grande', Arial, Helvetica, sans-serif;
$serif:  Georgia, Times New Roman, serif; 
$slab-serif: 'Vitesse SSm A', 'Vitesse SSm B', Vitesse, Arial, sans-serif;
$black: #2f2a20;
$brown: #3a1e1a; 
$beige: #efece5; 
$sand: #c9c6be;
$primary: #513f3c; 
$red: #C00404; 
$yellow: #FFCC00; 
$white: #FFFFFF;  

// Mixins #f3f0ea 

@mixin transition {
   -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; 
}
@mixin zoom {
	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
  	z-index: 999;
}
@mixin button {
  padding: 5px 15px;
  border-radius: 3px;
  color: #fff;
  background-color: $red;
  border: 1px solid $red;	
  font-size: 0.8em;	
  font-family: $slab-serif;
  text-transform: uppercase;
  letter-spacing: 0;
}
@mixin more {
  border-radius: 3px;
  background-color: $sand;	
  color: #fff;
  display: inline-block;
  font-size: 0.625em;	
  font-family: $slab-serif;
  // text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 15px 5px 20px;
	&::before {
  		content: " ";
  		height: 8px;
  		width: 8px;
  		background-size: 8px 8px;
  		background-image: url("../i/icons/arrow.svg");
  		padding: 0 0;
  		margin: 0 5px 0 -14px;
  		display: inline-block;
  	}
    &:hover {
  		background-color: $red;	
  		color: #FFF !important;
  }
}
