// ------------------------------ Banner
#banner {
	.marginator {
		background-color: #d3d3d3;	
		width: 96%;
	} 
	img { 
		display: none;	
	}
}

h1.site-title {
	
		color: $black;
		font-family: $serif;	
		padding: 24px 0 11px 9px;
		width: 85%;
		display: block;
	
}

// and  (min-width: 601px)
@media only screen and (min-width: 37.51em) {


h1.site-title {
	font-size: 1.6em;
	
		padding: 30px 0 16px 9px;	

}
#banner .marginator {
	width: 96%;
}


}

// and  (min-width: 600px) and  (max-width: 899px)
@media only screen and (min-width: 37.5em) and (max-width: 56.1875em) {



}



// and  (min-width: 900px)
@media only screen and (min-width: 56.25em) {

#banner.banner-image {
	.marginator {
		background-color:transparent;
		width: 92%;
	}
	img { 
		display: block;
	}
	h1.site-title {
		display: none;
	}
}

#banner.banner-text {
	 .marginator {
		width: 92%;
	}
		h1.site-title {
			font-size: 2em;
			padding: 20px 0 11px 9px;
			a {
				
			}
		}
}


}