


// --------------------------------------------------------------- 
// --------------------------------------------------------------- 
// ---------------------------------------------------------------  RESPONSIVE STYLES
// --------------------------------------------------------------- 
// --------------------------------------------------------------- 

 


// and  (min-width: 601px)
@media only screen and (min-width: 37.51em) {

// ------------------------------------------ Mission Statement Billboard / Ultibanner
#billboard {
	.block-ultibanner { 
	    display: block;
    	width: 100%;
    }
	.ultibanner-overlay {
		background-color: rgba($black, 0.8);
		padding: 25px 4%;
		position: absolute;
		margin: 0 0 0 0;
		left: 25px;
		bottom: 25px;
		max-width: 53%;
		h2 {
			font-size: 1.75em;
		}
	}
	h1 {
		color: $yellow;
		font-size: 1.5em;
		font-family: $slab-serif;
		margin: 0 0 0.3em 0;
		line-height: 1;
	}
	p {
		font-size: 0.8em;
	}
	p.eyebrow {
		font-size: 1em;
	}
	
}


}


// and  (min-width: 768px)
@media only screen and (min-width: 48em) {

}

// and  (min-width: 900px)
@media only screen and (min-width: 56.25em) {



}



// and  (min-width: 600px) and  (max-width: 899px)
@media only screen and (min-width: 37.5em) and (max-width: 56.1875em) {
// ------------------------------------------ Front Page Only

#billboard {
	h2 {
		font-size: 1.2em;
	}
	.ultibanner-overlay{
		width: 80%;
	}
}


}

// and  (min-width: 600px) and  (max-width: 768px)
@media only screen and (min-width: 37.5em) and (max-width: 48em) {

#billboard {
	h1 {
		font-size: 1em;
	}
	.ultibanner-overlay{
		width: 80%;
		padding: 15px;
	}
	p {
	
	}
}
}

// and  (min-width: 1px) and  (max-width: 600px)
@media only screen and (min-width: 0.1em) and (max-width: 37.5em) {


}



// and (min-width: 481px)
@media only screen and (min-width: 30em) {

}

// and  (min-width: 1px) and  (max-width: 320px)
@media only screen and (min-width: 0.1em) and (max-width: 20em) {


}

// Retina Images 
// and  (min-width: 768px)
@media only screen and (-webkit-min-device-pixel-ratio: 2) 
and (min-width: 48em) {




}

