// ------------------------------------------ Common Classes
.ghost {
	display: inline;
	position:absolute;
	top: auto;
	left: -9999px;
}
.small           { font-size: .8em; line-height: 1.875em; }
.large           { font-size: 1.2em; line-height: 1.25em; }
mark, .highlight       { background: #ffc; }
.left { float: left; }
.right {float: right; }


// ------------------------------------------ Msc.

.element-invisible {
	display: inline;
	position:absolute;
	top: auto;
	left: -9999px;
}
// ------------------------------------------ Embeds 
.embed {
   	 position: relative;
   	 padding-bottom: 56.25%; // ------- 16/9 ratio 
   	 padding-top: 30px; // ------- IE6 workaround
    	height: 0;
    	overflow: hidden;
			margin-bottom: 25px;
	 iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	    height: 100%;
	}
}