// ------------------------------------------ Site Footer 
#site-footer {
	background-color: $beige; 
	border-top: 1px solid #b2b2b2; 
	padding: 30px 0;
	clear: both;
	width: 100%;
	min-height: 110px;
	h2 {
		font-size: 1.375em;
		margin: 0 0 10px 0;
		font-family: $slab-serif;
		font-weight: bold;
	}
	.block {
		margin: 0 0 30px 0;
	}
	.block-contact-info {
		margin: 0 0 0 0;
	
	}
	p, address, dl {
		line-height: 1.3em; 
		font-size: 1em; 
		font-family: $serif; 
	}
	.p-name {
		font-size: 1.375em;
		margin: 0 0 15px 0;
		font-family: $slab-serif; 
		font-weight: bold;
		span {
			font-size: 0.4em;
			text-transform: initial; 
			display: block;
			font-family: $slab-serif;
		}
		a {
			font-family: $slab-serif;
			color: $black;
			text-decoration: none;	
			font-size: 1
		}
	}
	dl, address {
		margin: 0 0 15px 0;
	}
	

	dl {	
		dt {
			float: left;
			padding: 0 4px 0 0;
		}
		dd {
			margin: 0 0 8px 0;
		}
		a {
			background-repeat:no-repeat;
			background-position: 0 50%;
		}
			a.map-link {
				padding: 0 0 0 22px;
				background-image: url(../i/icons/map.png);
			}
			a[href ^="mailto:"] {
				padding: 0 0 0 22px;
				background-image: url(../i/icons/email.png)	;
			}
			.p-facebook a {
				padding: 0 0 0 22px;
				background-image: url(../i/icons/facebook.png)	;				
			}
			.p-twitter a {
				padding: 0 0 0 22px;
				background-image: url(../i/icons/twitter.png)		;			
			}
			.p-instagram a {
				padding: 0 0 0 22px;
				background-image: url(../i/icons/instagram.png)		;			
			}
		&.contact {
			dd {
				margin: 0 0 4px 0;
			}
		}
	}
	.block-block {
		ul  {
    		list-style-image: url(../i/icons/bullet-red.png);
    		li {
    			    margin-left: 1.5em;
    		}
		}
	} 
	nav.block-menu {
		ul {
			li {
				clear: left;
				a {
					
				}
			}
		}
	}

} 

// ------------------------------------------ Brown Footer
#brown-footer {
	background-color: $brown;
	border-top: 4px solid $red;  
	padding: 20px 0 20px 0;  
	.block {
		margin: 0 0 30px 0;
		padding: 0 0 30px 0;
		border-bottom: 1px dotted $white;
		h2 {
			color: $white;
			font-size: 1em;
			text-transform: uppercase;
		}
		li a {
			color: $yellow;
		}
	} 
	ul.social-media a {
		background-color: transparent; 
		background-image: url("../img/social-icons-sprite.png");
		background-repeat: no-repeat;
		display: block;
		float: left;
		width: 30px;
		height: 30px;
		margin-right: 3px;
		text-indent: -999em;
		border-radius: 2px; 
		padding: 0 0 0 0 !important; 
	}
	ul.social-media {
		display: block; 
		margin: 0 0 20px 0;
		min-height: 40px;
		li {
			margin: 0 -2px 0 0;  
			display: inline-block;
		}
		a {
			background-color: transparent;
			background-image: url("../i/bg/social-icons-sprite.png");
			background-repeat: no-repeat;
			display: block;
			float: left;
			width: 30px;
			height: 30px;
			margin-right: 3px;
			text-indent: -999em;
			border-radius: 2px;
			opacity: 0.33;
			&:hover {
				opacity: 1;
			}
		}
	}
	#footer-facebook {
		background-position: 0 0;
	}
	#footer-facebook:hover {
		background-position: 0 -40px;
	}
	#footer-twitter {
		background-position: -40px 0;
	}
	#footer-twitter:hover {
		background-position: -40px -40px;
	}
	#footer-youtube {
		background-position: -81px 0px;
	}
	#footer-youtube:hover {
		background-position: -81px -40px;
	}
	#footer-itunesu {
		background-position: -120px 0;
	}
	#footer-itunesu:hover {
		background-position: -120px -40px;
	}
	#footer-google-plus {
		background-position: -160px 0;
	}
	#footer-google-plus:hover {
		background-position: -160px -40px;
	}
	#footer-linkedin {
		background-position: -200px 0;
	}
	#footer-linkedin:hover {
		background-position: -200px -40px;
	}
	#footer-next {
		background-position: -240px 0;
	}
	#footer-next:hover {
		background-position: -240px -40px;
	}
	#footer-snapchat {
		background-position: -280px 0;
	}
	#footer-snapchat:hover {
		background-position: -280px -40px;
	}
	#footer-instagram {
		background-position: -320px 0;
	}
	#footer-instagram:hover {
		background-position: -320px -40px; 
	} 
	#brown-contact {
		
		h1 {
			text-indent: -999em;
			background: transparent url("../i/logos/brown-university-type-footer.svg") -2px 0 no-repeat;
			height: 25px;
			width: 270px;
			background-size:contain;
			margin: 0 0 5px 0;
		}
		p {
			color: #FFF; 
			line-height: 1.5em;
  		margin-bottom: 1.5em;
			font-size: .875em;
			font-family: $sans;
		}
		a {
			color: $yellow;
			text-decoration: none;
			&:hover {
				color: $beige;
				text-decoration: underline;
			}
			
		}
	}
	#give-to-brown {
		margin: 0 0 30px 0;
		padding: 0 0 40px 0;
		border-bottom: 1px dotted $white;
	}
	nav.block-menu {
		ul {
			li {
				clear: left;
				a {
					
				}
			}
		}
	}
}
 a.giving-footer {
  display: block;
  text-indent: -999em;
  background: transparent url(../i/logos/giving-to-brown.png) 50% 0 no-repeat;
  height: 51px;
  width: 192px;
  margin: auto;
  margin-top: .5em;
}


// and  (min-width: 601px)
@media only screen and (min-width: 37.51em) {
	
	// ------------------------------------------ Site Footer
#site-footer {
	min-height: 170px;
	.block {
		margin: 0 5% 30px 0;
	}
	.marginator {
		display: flex;
	}
	address, dl {
		float: left;
		margin-right: 20px; 
		width: auto;
		min-width: 200px;
	}
	dl {
		
	}
}




// ------------------------------------------ Brown Footer 
#brown-footer {
	display: inline-block;
	width: 100%;
	.block, #give-to-brown {
		border-bottom: none;
	}
	.block {
		margin: 0 30px 0 0;
		padding: 0 30px 0 30px;
		border-right: 1px dotted $white;
		float: left;
		&:first-of-type {
			padding: 0 30px 0 0;
		}
	}
	#give-to-brown {
		margin: 0 0 0 0;
		padding: 0 0 0 30px;
		float: left;
	}
	section {
		padding: 0 0 30px 0;
		margin: 0 0 30px 0;
		border-bottom: 1px dotted $white;
		display: inline-block;
		width: 100%;
	}
	#brown-contact {
		clear: both;
	}
}

}


// and  (min-width: 900px)
@media only screen and (min-width: 56.25em) {
	
// ------------------------------------------------ Footer
#site-footer {
	.block {
		float: left;
		width: auto;
		min-width: 20%;
		margin: 0 5% 0 0;
		&:last-of-type {
			margin: 0 0 0 0;
		}
	}
}	

// ------------------------------------------ Brown Footer 
#brown-footer {

	.block, #give-to-brown {

	}
	.block, .block:first-of-type {
		margin: 0 30px 0 30px;
		padding: 0 30px 0 30px;
		border-left: 1px dotted $white;
		border-right: none;
		min-height: 200px;
		&:first-of-type {
			margin: 0 30px 0 0;
		}
	}
	#give-to-brown {
		margin: 0 0 0 0;
		padding: 0 0 0 30px;
		border-left: 1px dotted $white;
		border-right: none;
		min-height: 200px;
	}
	section {
		padding: 0 0 30px 0;
		margin: 0 0 30px 0;
		border-bottom: none;
		display: inline;
		width: auto;
		float: right;
		width: 600px;
	}
	#brown-contact {
		clear: none;
		float: left;
	}
}
	
}