
@import '_variables.scss';
@import 'reset.scss'; 
@import 'normalize.scss';
@import 'common.scss'; 
@import 'header.scss'; 
@import 'navs.scss';  
@import 'footer.scss';  

@import 'site-alert.scss'; 
@import 'banner.scss';

@import '404.scss';
  

@import 'search.scss'; 



// ------------------------------------------  Contextual links fix
.contextual-links-region:hover a.contextual-links-trigger {
	display: block !important;  
}
.contextual-links { 
	font-family: $sans !important; 
	font-size: 14px !important; 
	margin: 0 !important;
	padding: 0 !important;
	li {
		margin: 0 !important; 
		padding: 0 !important;
		a {
			font-size: 14px !important;
		}
	}
}

// ------------------------------------------  Responsive preview fix
#responsive-preview-navbar-tab {
	ul.responsive-preview-options {
		display: none !important;
	}
	&.open {
		ul.responsive-preview-options {
			display: block !important;
			position: absolute;
			width: 13em !important;
		}
	}
}
.responsive-preview-icon-responsive-preview {
	width: 13em !important;
	&:before {
		left: 0em !important;
	}
	&:after {
		right: 0.6667em !important;
	}
} 

// ------------------------------------------  Admin / Ember Theme
ul.tabs {
	margin: 0 0 25px 0 !important;
	font-family: $sans !important;	
}
#main-content .error ul {
	margin: 0 0 0 0 !important;
	font-family: $sans !important;	
}
body.navbar-administration {
	#site-header {
		margin-top: 48px;
	}
	#brown-nav {
		 top: 50px;	
	}
	#site-nav {
		//	top: 39px; 
		a.contextual-links-trigger {
			padding: 0 0 0 0;
			margin: 10px 0 0 0;  
		} 
	}
	#sub-nav  { 
		.contextual-links-region {
			margin: 20px 0 20px 0;

			width: 100%;
			ul {
				// background-color: beige;
				padding: 0 0;
			}
		}  
	}
	nav.tabs {
		margin: 20px 0;
	}
} 
div.status, div.messages {
	margin: 0 0 25px 0;
	font-size: 0.6em;
	clear: both;
	display: block;
	ul {
		margin: 0 0 0 0;
    	padding: 0;
    	li { 
    		margin: 0 0 10px 0;
    	}
    }
}
#shib_login_url a {
	color: #FFF !important;
}


// ------------------------------------------ Body  
body {
	font-family: $sans;
	background-color: #fff;
	color: $black;
	min-width: 300px;
	p, ul, ol, hr, li, img, strong, em, h1, h2, h3, h4, h5, h6, a, aside, nav, 
	header, footer, span, table, tr, td, blockquote {
		&::selection {
			background-color: $beige !important;
		}
	}
}
#shell {
	overflow-y: hidden;
}
.marginator, #main-bottom .width {
	max-width: 1300px;
	margin: 0 auto;
	width: 92%;
	&:after {
		content: "	";
	  	clear: both;
  		display: block;
		position:absolute;
	}
}
// ------------------------------------------ Images 
img {
	max-width: 100%;
	height: auto;
	&.left {
		margin: 0px auto 30px auto;
		max-width: 90%;
	}
	&.right {
		margin: 0px auto 30px auto;
		max-width: 90%;
	}
	&.middle {
		display: block;
		margin: 0px auto 30px auto;
		max-width: 90%;  
	}
}
article img {

}
a img {
	border: 0;
}
figure {


}
img[style*="float:left;"], img[style*="float:left"] {
	float: left;
	margin: 0 30px 30px 0;
}
img[style*="float:right;"], img[style*="float:right"] {
		float: right;
		margin: 0 0 30px 30px;
}
// ------------------------------------------ Tables  
#main-content article { 
	th, td, table {
   	 	border: 1px solid #d7d5d3;
    	border-width: 0 1px 1px 0;
   	 	vertical-align: top;
	}	
table {
	margin: auto;
	margin-bottom: 30px;
	font-size: 1em;
	width: 96% !important;
	max-width: 100%;
	border: 1px solid #d7d5d3;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.6em !important;
    .numeric {
    	text-align: right;
	}
}
tr {
 
	&:hover {
		background-color:$beige; 
	}
}
tr:nth-child(odd), tr.odd, tr.odd {
    background-color: #fff;
}
tr:nth-child(even), tr.even, tr.even {
    background-color: #efece4;
}
th, thead th, tbody th {
    border-color: #d7d5d3;
}
td, tbody th {
    padding: .875em;
	p {
		margin: 0 0 0 0 !important;
	}
}
thead th {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: #aba698;
    padding: 1.25em;
}
tbody {
    border-top: 1px solid #ccc;
    th {
        border-bottom: 1px solid #ccc;
	} 
}
}


// ------------------------------------------ Forms
main { 
form {
	padding: 8px 15px 8px 15px;
	border: 1px solid $sand;
	border-radius: 3px;
	background-color: $beige;
	font-size: 0.9em;
	max-width: 600px;
	div.form-item {
		padding: 0.5em 0.5em 0.5em 0.5em ;	
	}
	.form-item, .form-actions {
		margin-top: 0.5em;
    	margin-bottom: 0.5em;
	}
	fieldset {
		margin: 25px 0 25px 0;
		padding: 0.5em 0.5em 0.5em 0.5em ;
		border-bottom: none;
		border-left: none;  
		 border-right: none;  
	
		 legend {
			font-family: $slab-serif; 
		 	font-weight: 700;
			span {
				padding: 0 5px;	
			} 
		 }
		 div.form-item {
			padding: 0 0 0 0;	
		}
	}
	hr {
		border-bottom: 1px dotted $black;	
	}
	div {
		margin: 0 0 1em 0;
	}
	.marker, .form-required {
		color: $red;
	}
	legend {
	
	}
	label {
		display: block;
		margin: 0 0 10px 0;
		font-size: 0.8em;
		font-family: $sans;
		letter-spacing:  0; 
		color: $black;
		vertical-align:text-top;
		font-weight: bold;
	}
	label > span {
		display: block;
		font-size: 12px;
	}
	.webform-component-radios {
		label {
			display: block;
		}
		.form-type-radio {
			display: inline;
			margin: 0 10px 0 0;	
	
			label {
				display: inline;	
				font-weight:normal;
			}  
		}
	}
	.webform-component-checkboxes {
		label {
			display: block;
		}
		.form-type-checkbox {
			display: inline;
			margin: 0 10px 0 0;	
	
			label {
				display: inline;	
					font-weight:normal;
			}
		}
	}
	.webform-component-time, .webform-component-date {
		label {
		//	display: block;
		}
	} 
	small {
		display: block;
		font-size: 0.7em;
	}
	input[type="text"], input[type="password"], textarea, select  {
	  	-webkit-appearance: none;
 		 -webkit-border-radius: 3px;
		padding: 5px 8px;	
		margin: 0 0 15px 0;	
		max-width: 96%;
		border-radius: 3px;
		width: 96%;
		border: 1px solid $sand; 
		font-family: $sans;
		font-size: 0.9em;
	}
	select {
		-webkit-appearance: menulist;
		width: auto !important;
	}
	input[type="radio"], input[type="checkbox"] {
		vertical-align: text-top;	
	}
	input[type="submit"], #edit-submit {
		-webkit-appearance: none;
 		 -webkit-border-radius: 3px;
		@include button; 
		clear: both;
		@include transition; 
		display: inline-block; 
		margin: 0 1.5em 1em 0;
		&:hover {
			@include zoom;
			@include transition;   
		}
		&#edit-preview {
			background-color: #04C039;
			border: 1px solid #04C039;
		}
	}
}
}
fieldset {
	
}
#shib_login_url {
	a:hover {
			color: #FFF !important;
		}
}

// ------------------------------------------ Lists 
article, #main-content   {

	ul {
		list-style-type:disc;
		margin: 0px 0px 25px 35px;
		font-family: $serif;
		&.arrows {
    		list-style-image: url(../i/icons/bullet-red.png);
		}
	}
	ol {
		margin: 0px 0px 25px 35px;
		font-family: $serif;
		li {
			list-style-type: decimal; 
			&.roman-upper {
				list-style-type: upper-roman;
			}
			&.roman-lower { 
				list-style-type: lower-roman;
			}
			&.alpha-upper {
				list-style-type: upper-alpha;
			}
			&.alpha-lower {
				list-style-type: lower-alpha;
			}
		}
	}
	li {
		margin: 0px 0px 6px 12px;
		font-size: 0.85em; 
		line-height: 1.75;
		&.no-bullet {
			    list-style-type: none;
		} 
		li {
			font-size: .95em;
		}
	}
	ul ul {
		margin: 15px 0px 15px 31px;
		list-style-type: circle;
		ul {
			list-style-type:disc;
		}	
	}
	ol ol {
		margin: 15px 0px 15px 31px;
		li {
			list-style-type: lower-alpha;
		}
		ol {
			
			li {
				list-style-type: lower-roman;
			}
		}
	}
}
ul {
	li.expanded, li.collapsed, li.leaf {
  		padding: 0 0 0 0;
		margin: 0;
		list-style-image: none;
 	 	list-style-type: none;
	}
}

ul.tabs {
	line-height: 1.125em;
	li {
	
		a {
			font-size: 0.7em;

		}
	
	}

}
aside  .block  {
	ul {
	 li {
		margin: 0px 0px 15px 0px;
		font-size: 0.8em; 
		line-height: 1.4;
	 }
	}
}
// ------------------------------------------ Links 
a {
	text-decoration: none;
	color: $red;
	&:hover {
		text-decoration: underline;
	}
}
p a, li a {
	
	transition: 0.2s linear;
	-webkit-transition: 0.2s linear;	
}
#tactical-navigation li a {
	transition: inherit !important;
	-webkit-transition: inherit !important;
}
.more-link {
	text-align: left;
}
a.more-link, .more-link a {
	@include more;
	font-size: 0.5em;
	&:visited {
		color: $white;
	}
	&:active {
		background-color: $black !important;
	}	
}
a.contextual-links-trigger {
	transition: 0s linear;
	-wekit-transition: 0s linear;
}
p, .breadcrumb, #sub-nav  {
	a {
		color: $red;
	}
}
#brown-menu-button, .social-media a {
	transition: 0s linear;
	-webkit-transition: 0s linear;
}
article, #main-content, #sub-nav, #content h2, aside {
	a {
		&:link {
			color: $red;
		}
		&:visited {
			// color: #B78080;
		}		
		&:hover {
			color: #841616;
		}		
		&:active {
			background-color: $beige;
		}
		&.button {
		-moz-border-radius: 10px;	
		-webkit-border-radius: 10px;	 
		border-radius: 10px; 
		background-color: $red; 
		color: #FFFFFF !important;
			font-family: $slab-serif;
		display: inline-block;
		padding: 6px 16px;
		font-size: 16px;
		border: 1px solid $red;
		text-align: center;
			&:hover {
				background-color: #000;
				color: #FFFFFF !important;
			}
		}
	}
}
li, p {
	a {
		&[href$='.pdf'] { 
			padding:0 20px 0 0; 
			background:transparent url(../i/icons/pdf.gif) no-repeat center right; 
		}
		&[href$='.doc'] { 
			padding:0 20px 0 0; 
			background:transparent url(../i/icons/doc.gif) no-repeat center right; 
		}
		&[href$='.xls'] { 
			padding:0 20px 0 0; 
			background:transparent url(../i/icons/xls.gif) no-repeat center right; 
		}
		&[href ^="mailto:"] {
			padding:0 20px 0 0; 
			background: transparent url(../i/icons/mailto.gif) no-repeat center right; 
		}
		&[href*="//"]:not([href*="brown.edu"]) {
			padding:0 20px 0 0; 
			background: transparent url(../i/icons/external.gif) no-repeat center right; 
		}
	
		&[href$=png], &[href$=jpg] {
			background: none;
			padding: 0 0 0 0;
		}
	}
} 
article { 
	&.node-page {
		a:link {
			border-bottom: 1px solid $red;
		}
		a:hover {
			background-color: $beige;  
			text-decoration: none;
			border-bottom: 2px solid $red;
		}
	}
}

// ------------------------------------------ Headers


.banner-text h1 a {  
		text-decoration: none;
		text-shadow: 3px 3px 3px rgba(0,0,0,0.1);   
}
header#content-header h1 {
    margin: 2.525em .675em 0 0;
    font-size: 1.55em;
    padding-bottom: 0.45em;
    font-weight: normal !important;
    line-height: 1.2em;
    border-bottom: 1px solid #c00404;
}
div.sidebar-first, aside.sidebar-second {
		h2.title {
			font-size: 1em !important;
		}
	}
main {
	h1, h2, h3, h4, h5, h6 {
		line-height: 1.1;
		margin: 1em 0 0.5em 0;
	}
	
	h1, h3, h5, .block-user-login h2.title  {
		font-family: $sans;  
		border-bottom: none;
		text-transform: none;
	
	}
	#main-content  h2, h4, h6 {
		font-family: $slab-serif;
		font-weight: bold; 
	}
	h1 {
		font-size: 1.4em;
		margin: 0 0 1em 0;
	
	}
	h2.title  {
		font-family: $sans !important; 	
		border-bottom: 1px solid $sand;
		font-weight: normal !important; 
		line-height: 1.3; 
		padding: 0 0 4px 0; 
		display: block;
		margin:  0 0 0.75em 0;
	}
	.block-user-login h2.title {
		font-size: 1em;
		margin: 0 0 15px 0;
	}
	h2  { 
		font-size: 1.4em;
	}
	.articles h2 {
		font-family: $serif !important; 
	}
	h3  { 
		 font-size: 1.2em;
		 &.field-label {
		 	font-size: 0.8em; 
		 	color: $sand;
		 }
	}
	h4 {
		 font-size: 1em;  
		font-weight: bold;
	}
	h5 {
		 font-size: 0.7em; 
			&.date {
				font-size: 0.6em;
			}
	}
	h6 {
		border-bottom: 1px solid $sand;
		line-height: 0;
		text-align: center;
		padding: 0 5%;
		margin: 3em 0 2em 0 !important;
		font-size: 1em;
		text-transform: uppercase;
		  text-shadow:
       1px 1px 0 #FFF,
     -1px -1px 0 #FFF,  
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
       1px 1px 0 #FFF, ;
       span {
       	background-color: #FFF;
       	padding: 0 10px;
       }
	}
}
#main-bottom h2.title {
		font-family: $slab-serif;
		font-weight: bold; 
		border-bottom: 1px solid $sand;
		line-height: 0;
		text-align: center;
		padding: 0 5%;
		margin: 3em 0 2em 0 !important;
		font-size: 1.5em !important;
		text-transform: uppercase;
		  text-shadow:
       1px 1px 0 #FFF,
     -1px -1px 0 #FFF,  
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
       1px 1px 0 #FFF, ;
       span {
       	background-color: #FFF;
       	padding: 0 10px;
       }
}
#site-footer {
	h2.title  {
		font-family: $slab-serif; 
		font-weight: bold; 
		border-bottom: 1px solid $sand;
		text-transform: uppercase;
		font-size: 1em;
		line-height: 1.3;
		padding: 0 0 4px 0;
		display: block;
		margin:  0 0 0.75em 0;
	}
}

#main-bottom h2.title  {
	font-size: 1.3em;
	margin: 2.5em 0 2em 0;
}
#sub-nav {
	h2 {
		font-size: 1em; 
		font-family: $slab-serif; 
		text-transform: uppercase;
		letter-spacing: 1px; 
		margin: 0px 0 8px 0;
	}
}
#main-content {

	article {
		p, ul, ol, blockquote, table {
			+ h2, + h3, + h4, + h5, + h6 {
        	margin-top: 2em;
    		}
		}
	}
}

// ------------------------------------------ Other Elements  
article, main {
	strong {
		font-weight: bold;
	}
	em {
		font-style: italic; 
	}
	p {
		font-size: 0.9em; 
		color: $black;
		font-family: $serif;
		margin: 0 0 1em 0;
		line-height: 1.75;
	
    	&.lead {
    		font-family: $sans;
    		font-size: 1.2em;
    		margin: 0 0 0.8em 0;
    	}
		&.bio-name {
			font: bold 1.125em/1.5em $serif,serif;
			margin-bottom: 0;
			color: #2f2a20;
		}
		&.bio-title {
			font: bold 1.0625em/1.5em $serif,serif;
			margin-bottom: 0;
			color: #2f2a20;
		}
		&.bio-intro {
			clear: left;
		}
	}
	code, pre  {   
		font-family: monospace, serif;
        font-size: 1em; 
	}
	blockquote {
		width: 70%;
		margin: 1.5em auto 1.5em auto;
		font-size: 1.1em;
		font-family: $serif;
		line-height: 1.2;
		padding: 10px 0 10px 30px;
		border-left: 2px solid $beige;
		quotes: "\201C""\201D""\2018""\2019";
		p {
			font-size: 1.1em;
			line-height: 1.2;
			display: inline;
		}
		&::before {
			content: open-quote;
			font-family: $serif;
			padding: 0 3px 0 0;
			display: inline;
			margin-left: -15px;
			font-size: 1.1em;
		}
		&::after {
			font-family: $serif;
			content: close-quote;
			padding: 0 0 0 0;
			margin: 0 0 0 -3px 0;
			display: inline;
			font-size: 1.1em;
		}
	}
	hr {
		border: none;
		border-bottom: 1px dotted $beige;
		margin: 2em auto;
		width: 75%;
	}
}
sup {
	font-size: 0.8em;
	    margin-top: -14px;
    display: inline-block;
    vertical-align: middle;
}
sub {
	font-size: 0.8em;
	    margin-bottom: -4px;
    display: inline-block;
    vertical-align: middle;
}


// ------------------------------------------ Blocks
#content, #sub-nav, aside, #main-bottom  {
	.block {
		margin: 0 0 45px 0;
		clear: both;
	}
}

// ------------------------------------------ Views
.views-row {
    //overflow-wrap: break-word;
   // word-wrap: break-word;
	// word-break: break-all; 
	max-width: 100%;
}
#main-content {
	.item-list {
		ul {
			margin: 0 0 25px 0;
			list-style-type:none;
			li {
				margin: 0 0 0 0;
				padding: 0 0 0 0;
			}
		}
	}
}
// ------------------------------------------ Nodes
.node-article.node-teaser {
	.field-image {
		clear: left;
		float: left;
		margin-right: 1em;
	}
	h2 {
		font-family: $serif !important;
		font-size: 1.1em;
		letter-spacing: 0;
	}
}






// ------------------------------------------ Content
main {
	
}
#content {
	width: 100%;
	#main-content {
		padding: 25px 0 50px 0;
		width: 100%;
		.block-views  {
			position: relative;
		}
		.more-link {
			margin: 0 0 25px 0;
			text-align: center;
		}	
	}

}
#sub-nav {
	padding: 25px 0; 
	
}
aside.sidebar {
		padding: 25px 0;
	}
.no-sidebars {
	div.sidebar-first {
		display: none;
	}
}
#main-bottom {
	padding: 0 0 30px 0; 
	.block {
		.more-link {
			margin: auto;
			text-align: center; 
			margin-top: -20px;
		}
	}
}

// ------------------------------------------ Sidebar Menu
#sub-nav {
	.block-menu, .block-menu-block , .block-menu-block-1  {
		h2 {
			a {
				color: $black !important;
			}
		}
		> ul {
			overflow: visible !important;
			> li {
				border-bottom: 1px dotted #aba698;
				width: 100%;
				display: block;
				float: none;
				&.expanded {
					padding-bottom: 4px;
			  		list-style-image: url(../i/icons/menu-expanded.png);
					display: list-item;
				}
				&.collapsed {
			  		list-style-image: url(../i/icons/menu-collapsed.png);
						display: list-item;
				}
				li {
			  		list-style-image: none;
				}
				> ul > li {
						display: block !important;
						float: none;
					&.expanded {
						padding-bottom: 4px;
			  			list-style-image: url(../i/icons/menu-expanded.png);
								display: list-item;
					}
					&.collapsed {
			  			list-style-image: url(../i/icons/menu-collapsed.png);
								display: list-item;
					}
					li {
			  			list-style-image: none;
					}
				}
			}
			ul {
				margin-left: 15px;
			}
		}	
		li {

			&.collapsed {
			
			}
			&.active-trail {
				
			}
			a {
				display: block;
				font-size: 0.7em;
				padding: 10px 0 10px 0;
				font-family: $sans;
				&.active {
					color: $brown !important;
					font-weight: bold;
				}
				&:hover {
					background-color: $beige;
				}
			}
		}
	}
}
div.sidebar-first, aside.sidebar-second {
	.block-menu-block {
		li {
			a {
					display: block;
					font-size: 0.75em;
			}
		}
	}
}
// ------------------------------------------ Shibboleth
.block-shib-auth-login-box {
	margin: 0 0 25px 0;
	h2 {
		display: none;
	}
}
#shib_login_url {
	a {
		padding: 5px 8px;
		border-radius: 3px;
		color: #fff;
		background-color: $red;
		font-size: 0.6em;	
		font-family: $slab-serif;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: normal;
		@include transition; 
		display: inline-block;
  		text-align: center;
  		&:hover {
  			background-color: $brown;
  		}
	}
}

// ------------------------------------------ User Login
.block-user-login {
	ul {
		margin: 0 0 0 0;
		display: inline-block;
		li {
			float: left;
			margin: 0 10px 0 0;
			a {
				font-size: 0.6em;
			}
		}
	}
}

// ------------------------------------------ Breadcrumbs
.breadcrumbs {
	font-size: 0.5em;
	display: block;
	clear: both;
	padding: 10px 0 10px 25px;
	border-bottom: 1px dotted $beige;
	margin: 0 0 20px 0;
	width: 105%;
	width: calc(100% + 25px);
	margin-left: -25px;
	position: relative;
    z-index: 22;
}

// ------------------------------------------ Pager 
.item-list-pager {
	margin: 15px 0;
	ul.pager {
		li {
			display: inline;
			margin: 0 5px 0 5px;
		}
	}
}






// --------------------------------------------------------------- 
// --------------------------------------------------------------- 
// ---------------------------------------------------------------  RESPONSIVE STYLES
// --------------------------------------------------------------- 
// --------------------------------------------------------------- 

 


// and  (min-width: 601px)
@media only screen and (min-width: 37.51em) {
// ------------------------------------------  Forms
main { 
	form {
		padding: 5px 25px;
		.webform-component-radios .form-type-radio,
		.webform-component-checkboxes .form-type-checkbox {
			display: inline-block;
			width: 40%;
			margin: 0 20px 10px 0;
		}
	}
}
// ------------------------------------------  Admin / Ember Theme
body.navbar-administration {
	#brown-nav {
		top: 5px;
	}
	#site-header {
	    margin-top: 36px;	
	}
}
// ------------------------------------------ Body  
body {
	padding-top: 0;
}
#shell {
	position: relative;
	overflow-x: hidden;  
}


// ------------------------------------------ Main Menu in Sidebar
body.sidebar-main-menu {
	header#page-header { 
		.marginator {
			height: 106px;
		}
		#site-info {
			padding-bottom: 0;
		}
	}
	
}
#sub-nav.sidebar-first {
	nav.block-menu-block {
		border-top: 4px solid $red;
		h2.title {
			text-transform: none;
			letter-spacing: 0;
			margin: 0 0 0 0;
			a {
				font-size: 0.7em;
				    padding: 10px 0 10px 0;
					display:block;
			}
		}
		&.contextual-links-region {
			margin: 0 0 20px 0 !important;	
		}
	}
}
 


// ------------------------------------------ Content

main {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 115%;
	.marginator {

	}
	#title {
		.marginator {
			border-top: none;	
		}	 
	}
}
#content {
	
	#main-content {
		width: 100%;
		padding-left: 0px;
		
	}
	aside.sidebar {
		width: 100%;
		width: calc(100% - 50px);
		padding-left: 50px;
	}
}
#sub-nav {
	width: 20%;
	float: left;
	padding: 0 0 25px 0 !important;  
	margin: -2px 0 0 0;  
	border-top: 4px solid $red;
}
body.two-sidebars {
	
	#content {
		width: 75%; 
		float: right;	
	}
}
body.one-sidebar.sidebar-first {
	#content  {
		width: 75%; 
		float: right;	
	}
}
body.one-sidebar.sidebar-second {
	#content {
		width: 75%; 
		float: left;	
	}
}


}


// and  (min-width: 768px)
@media only screen and (min-width: 48em) {

}

// and  (min-width: 900px)
@media only screen and (min-width: 56.25em) {

// ------------------------------------------ Content
main {
	font-size: 130%;
	min-height: 400px;
	clear: both;
}

#content {
	
	#main-content {
		float: left;
		min-height: 200px;
	}
	aside.sidebar-second {
		float: left;
		width: 24%;
		width: calc(24% - 50px);
  		padding: 25px 0 25px 50px;
	}
}
#main-bottom {
	clear: both;
}
#sub-nav {
	background-color: #FFF; 
	width: 20%;
	float: left;
	padding: 25px 0;  
	margin: 0 0 0 0;
}
body.one-sidebar.sidebar-first {
	#content {
		#sub-nav {
			width: 10%;
		}
		#main-content {
			width: 85%;
  			width: calc(90% - 50px);
		}	
	
	}
}
body.not-front.one-sidebar.sidebar-second {
	#content {
		width: 94%;
		#main-content {
		width: 71%;
		width: calc(76% - 50px);
		float: left;
	}

	#sub-nav {
  		width: 10%;
	}
	}

}

body.two-sidebars{
	#content {
		
		#main-content {
    	width: 65%;
    	width: calc(65% - 50px);
		}	
		aside.sidebar-second {
			float: left;
  			width: 35%;
  			width: calc(35% - 50px);
  			padding-left: 50px;
		}
		#sub-nav {
  			width: 10%;
		}

	}
}
body.no-sidebars {
	#content {
		width: 94%;

	}
}



}



// and  (min-width: 600px) and  (max-width: 899px)
@media only screen and (min-width: 37.5em) and (max-width: 56.1875em) {





}

// and  (min-width: 600px) and  (max-width: 768px)
@media only screen and (min-width: 37.5em) and (max-width: 48em) {

}

// and  (min-width: 1px) and  (max-width: 600px)
@media only screen and (min-width: 0.1em) and (max-width: 37.5em) {

// -----------------------------------------  Site Nav
body.navbar-administration #site-nav.not-scrolled {
	top: 44px;
}


}



// and (min-width: 481px)
@media only screen and (min-width: 30em) {

}

// and  (min-width: 1px) and  (max-width: 320px)
@media only screen and (min-width: 0.1em) and (max-width: 20em) {


}

// Retina Images 
// and  (min-width: 768px)
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 48em) {




}