
#site-header {
	display: block !important;
	border-top: 0; 
	position: relative;
	z-index: 333;
	display: block;
	margin-top: 58px;
	
	#brown {
		clear: left;
		position: relative;
		background-color: #3a1e1a; 
		border-top: 2px solid #c00404;
		min-height: 35px;
		margin-top: 3px;
	}
}
 h1#university-title {
	 text-indent: -9999px;
	 height: 40px;
	 a {
		 background-image:url(../i/logos/brown-university.png);
		 background-size:cover;
		 width: 202px;
		 height: 47px;
		 display: block;
	}
 }




// and  (min-width: 601px)
@media only screen and (min-width: 37.51em) {


header#site-header {
	display: block;
	background-position: 0 0;
	margin-top: 48px;
	.marginator {
		display: table;
	}
	#brown {
		display: none;	
	}
}

}

// and  (min-width: 900px)
@media only screen and (min-width: 56.25em) {
#brown-nav #brown-header {
	width: 96%;
}
	
}