// ------------------------------------------ Site Nav
#site-nav {
    // height: 0;
    width: 100%;
   //  overflow: hidden;
    transition: all 1s ease;	
	display: none;
	&.show {
		display: block;	
		height: auto;
		ul {
			padding: 0 0;
		} 
	}
	.marginator {
	    background-color: #d3d3d3;	
		width: 96%;
	}
		ul {
			padding: 0 0;
				li {
					border-top: 1px solid $white;
					a {
						font-family: $serif;
						color: $black;	
						padding: 12px 0 12px 24px;
						display: block;
						font-size: 1.1em;
						text-transform:inherit;
					}
				}
		}
	
}
#banner.show {
		a#site-menu-button {
			background-image:url(../i/icons/close-x-brown-on-white.png);
			width: 20px;
			height: 20px;
		}
	}
#banner .marginator {
	position: relative;
}
a#site-menu-button {
	display: block;
	background-image:url(../i/icons/menu-black.png);
	width: 29px;
	height: 20px;
	text-indent: -9999px;
	position:absolute;
	top: 28px;
	right: 2%;
	 -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;  
}
// ------------------------------------------ Brown Nav
#brown-nav {
	background-color: $brown;
	border-top: 2px solid $red;
	display: block;
	min-height: 36px;
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	z-index: 888;
	.marginator {
		position: relative;
		width: 100%;
	}
	#brown-header {
		background-color: $brown;
		z-index: 44;	
		position: relative;
		width: 92%;
		margin: auto;
	}
	h1 {
		background-color: $brown;
		text-indent: -9999em;
		margin: 6px 0 0 0;
		position: relative;
		z-index: 500;
		a {
			display: block;
			background-image:url(../i/logos/brown-university-logo-color.png);
			background-repeat:no-repeat;
			width: 136px;
			height: 62px;
			top: -23px;
			background-size: cover; 
			position:absolute;
		}
	}
	span.toggle {
			display: block;
			text-indent: -9999em;
			position: relative;
			top: 0;
			left: 0;
			z-index: 501;
			width: 100%;
			height: 30px;
		a {
			display: block;
		}
	}
	#u-nav {
		display: none;
		margin-top: 40px;
			ul {
				margin: 0 0 0 0;
				padding: 12px 0;
				li {
					margin: 0 0 0 0;
					padding: 0;
				}
			}
		#learn-list {
			ul {
				padding: 0 0;
				li {
					border-top: 1px solid #9d8f8d;
					a {
						font-family: $serif;
						color: $white;	
						padding: 12px 4%;
						display: block;
						font-size: 1.1em;
						text-transform:inherit;
					}
				}
			}
		}
		a {
			color: $yellow;
			text-transform: uppercase;
			padding: 12px 4%;		
			font-size: 0.75em;
			display: block;
		}
		#find-list {
				border-top: 1px solid #9d8f8d;
				a {
					padding: 12px 10%;	
				}
		}
		#information-list {
				border-top: 1px solid #9d8f8d;
		}
		#destination-list {
				display: none;
		}
	}
	&.show {

		#u-nav {
				display: inline-block;
				width: 100%;
		}
		a#brown-menu-button {
			background-image:url(../i/icons/close-x-white-on-brown.png);
			width: 20px;
			height: 20px;
		}
	}
	h3 {
		display: none;	
	}
}
a#brown-menu-button {
	display: block;
	background-image:url(../i/icons/menu-white.png);
	width: 29px;
	height: 20px;
	text-indent: -9999px;
	position:absolute;
	top: 1px;
	right: 0;
	   -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; 
}

a#search-brown-button {
	display: block;
	background-image:url(../i/icons/search.png);
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	position:absolute;
	top: 1px;
	border-radius: 5px;
	right: 40px;	
	background-color: $yellow;
}


// -------------- Mobile Nav 



// and  (min-width: 601px)
@media only screen and (min-width: 37.51em) {
#brown-nav h1 a {
	width: 291px;
	top: -21px;
}
#site-nav {
	
	.marginator {
		position: relative;
			background-color: transparent;	
	}
}
a#search-brown-button {
	display: none;
}
}

// and  (min-width: 600px) and  (max-width: 899px)
@media only screen and (min-width: 37.5em) and (max-width: 56.1875em) {
// ------------------------------------------ Site Nav
#site-nav {
	.marginator {
	
	}
	nav {
		    background-color: #d3d3d3;	
			    margin-left: 200px;
	}
}
// ------------------------------------------ Brown Nav
#brown-nav.show #u-nav {
	
}
#brown-nav #u-nav #learn-list ul li, #brown-nav #u-nav #find-list, #brown-nav #u-nav #information-list {
	border-top: none;	
}
#brown-nav #u-nav #find-list a, #brown-nav #u-nav #information-list a {
	    padding: 14px 4%;
}
#learn-list {
	width: 33%;
	float: left;
	margin-left:4%;
}
#find-list {
	width: 63%;
	float: right;
	margin-top: -8px;
}
#information-list {
	width: 63%;
	float: right;
	margin-top: -24px;
}
}

// and  (min-width: 900px)
@media only screen and (min-width: 56.25em) {
	
a#site-menu-button {
	display: none;
}
	
// ------------------------------------------ Site Nav
#site-nav {
	display: block;
	    margin-bottom: 0px;
	.marginator {
		position: relative;
		width: 92%;
	}
	h1 {
		display: none;
	}
	nav {
		margin: 0 0 0px 0;
		display: inline-block;
		width: 100%;
		
		ul {
			margin-left: -25px;
			padding-top: 10px;
		}
		li {
			float: left;
			&.active-trail {
				a {
					color: $red;

				}
			}
			ul {
				display: none;
		
				li {
					&:last-of-type {
						display: none;
					}
				}
			}
			&.expanded {
				list-style-type: none;
				list-style-image: none;
				padding: 0 0 0 0;
			}
			&:last-of-type {
		
			}
			a {
				color: $black;
				font-family: $sans;
				padding: 10px 25px;
				display: inline-block;
				&:hover {
					color: $red;
					text-decoration: underline;
				}
			}
		}
	}
}
	


// ------------------------------------------ Brown Nav
#brown-nav {
	.marginator {
		width: 92%;
	}
	#brown-header {
		width: 100%;
	}
	h1 {
	
		a {
	left: 40px;
		
		}
	}
	
	#u-nav {
		margin: 20px 0 0 0;
		padding: 44px 24px 0 26px;
		position: relative;
		margin-top: -300px;
		max-height: 355px;
		display: none;
		.item-list {
			display: inline-block;
			margin: 0 0 30px;
			padding: 0;
			vertical-align: top;
			width: 23%;
			border-top: none !important;
			ul {
				margin: 6px 12px 0 0;
				max-height: 150px;
				overflow: hidden;
				padding: 0 0 0 0 !important;
			}
			li {
				list-style-type: none;
				line-height: 1.3;
				margin: 0 0 0.25em 0;
				font-family: $serif;
				border-top: none !important;
				a {
					color: $yellow;
					display: block;
					font-size: .875em;
					padding: 6px 0 !important;
				}
			}
			h3  {
				color: #fff;
				font-family: $sans;
				margin-bottom: .25em;
				display:block;
			}
		}
	}
	&.show {
		#u-nav {
			margin-top: 0;
			display: block;
			ul {
				max-height: 400px;
			}
		}
	
	}
}
#brown-nav #u-nav #find-list li, #brown-nav #u-nav  #information-list li, #brown-nav #u-nav #destination-list {
	a {
		font-family: $sans !important;	
		font-size: 0.75em !important;
		padding-top: calc(6px + 0.3em) !important;
		padding-bottom: calc(6px + 0.3em) !important;
	}
}
#brown-nav #u-nav #destination-list {
	display: inline-block;	
	a {
		color: $white !important;	
	}
}
a#brown-menu-button {
	left: 0;
	right: auto;	
}

	
}


// and  (min-width: 1px) and  (max-width: 599px)
@media only screen and (min-width: 0.1em) and (max-width: 37.4375em) {


#site-nav h1 a#also-in-front-page {
	word-break: break-all;
	display: inline;
}	

}


// Retina Images 
// and  (min-width: 768px)
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 48em) {

#brown-nav h1 a {
	background-image: url(../i/logos/brown-university-logo-color@2x.png);
}


}