// --------------- Reset
html, body, header, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
ul, ol {
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	li {
	margin: 0 0 0 0;
	padding: 0 0 0 0;		
	}
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

body {
    line-height:1;
}
img,
object,
embed {max-width: 100%;}



hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}


// HTML 5 elements
article, aside, details, dialog, figcaption, figure, footer, header, hgroup, menu, nav, main, section {
	display: block;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
