// ------------------------------------------ Search Box
.block-bs2-search, .block-search {
	display: none; 
}



// ------------------------------------------------ Search Page
body.page-search {
	#main-content h1, .breadcrumb {
		display: none;
	}
	#main-content form#search-form {
		margin: 25px 0;
		width: 91%;
	}
}
.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
    font-size: 1.15em;
}
.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
	   font-size: 1em;
	   margin-bottom: 2px;
}
.gs-webResult.gs-result a, .gs-webResult.gs-result a.gs-title,	.gs-webResult.gs-result a.gs-title:visited, 
	.gs-webResult.gs-result a.gs-title:visited b, 
	.gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b,
	.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, 
	.gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b,
	.gsc-results .gsc-cursor-box .gsc-cursor-page {
		color: $red !important;
}
.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
	font-family: $serif;
	font-size: 0.85em;
}
.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
	color: $red !important;
}
.gsc-above-wrapper-area {
	border-bottom: none !important;	
}
#google-cse-results {
	overflow-x: hidden;
	iframe {
		overflow-x: hidden;
	}
}
main form.gsc-search-box {
	width: auto !important;


	input[type="text"] {
		margin: 0 0 0 0;
	}
}
.page-search-brown {
	hr {
		display: none;	
	}
}
.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
		border: none;
	table {
		border: none;
	}
	
}

.cse .gsc-webResult.gsc-result, .gsc-webResult.gsc-result, .gsc-imageResult-column, .gsc-imageResult-classic {
	margin-bottom: 1em !important;	
	padding: 1em !important; 
}

.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
	line-height: 1.2;
}
.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
	font-family: $sans !important;	
	font-size: 1em !important;	
	
}



// and  (min-width: 601px)
@media only screen and (min-width: 37.51em) {
	


// ------------------------------------------ Search Box
#site-search {
	.marginator {
		position: relative;	
	}
	
}

.block-bs2-search, .block-search {
	display: block;
	position: absolute;
	top: -3px;
	right: 85px;
	max-width: 200px; 
	float: right;
	z-index: 500;
	#search-button {
  		width: 16px;
  		height: 12px;
 		 background-image: url(../i/icons/search.png);
 		 display: inline-block;
  		z-index: 33;
 		 text-indent: -9999em;
 		 overflow: hidden;
  		right: 0px;
  		top: 12px;
	
	}
	form.gsc-search-box {
		z-index: 221;
		position: relative;
		margin-top: 3px;
		table.gsc-search-box {
    		margin-bottom: 0;
    		input.gsc-input, input.gsc-search-button {
				opacity: 1;
			}
			&:hover, &:active, &.focus {
	    		input.gsc-input, input.gsc-search-button {
					opacity: 1;
				}	
			}
		}
	}

	.gsc-input-focus {
		opacity: 1 !important;
	}

	input.gsc-input {
		padding:  0 0 0 0;	
		margin: 0 0 0 0;	
		width: 166px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border: none !important;
		font-family: $sans;
		font-size: 14px !important;
		float: right;
		display: inline;
		background-image: none !important; 
		margin-right: -16px;

		position: relative;
	height: 23px !important;
	line-height: 23px !important;
	}
	input.gsc-search-button {
		width: 23px;
		height: 23px;
		background-color: $yellow;
		background-image: url(../i/icons/search.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: block;
		z-index: 33;
		text-indent: -9999em;
		overflow: hidden;
		vertical-align: text-bottom;
		border: none;
		border-radius: 0;
		padding: 0 0;
		min-width: 16px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
			padding-bottom: 1px;
		&:hover { 
			@include zoom;
			@include transition;   
		}
	}
	.gsc-clear-button {
		display: none;
	}
}
	
}


// and  (min-width: 900px)
@media only screen and (min-width: 56.25em) {	
.block-bs2-search, .block-search {
	
	right: 0px;
	
}
}