// ------------------------------------------ Site Alert
#site-alert {
	
	.marginator {
		z-index: 22;
		background-color: $yellow;
		padding: 10px 0 10px 0;
		width: 100%;
  		position: relative;
  		margin: 0 0;
  		display: table;
		}
	span {
		background-color: $red;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		position: relative;	
		float: left;
		display: inline;
		margin: 0 5px 0 8%;
			&:before {
			content: "!";
			font-family: $slab-serif;
			color: rgba(255,255,255,0.2);
			font-size: 30px;
			position: absolute;
			line-height: 1;
			left: 38%;
			top: 5px;
			color: #FFF;
		}
	}	
	h1 {
		color: #FFF;
		font-family: $slab-serif;
		line-height: 1;
		font-size: 0.9em;
		text-transform: none;
		letter-spacing: 0px;
		float: left;
		display: inline;
		margin: 0 0 0 0;
		width: 75%;
		a {
			color: #FFF;
			padding: 5px;
			display: block;
			vertical-align: middle;
  		display: table-cell;
  		height: 29px;
			&:hover {
				color: $red;
			}
		}
	}
	div.contextual-links-wrapper {
		display: none;
	}
}




// and  (min-width: 601px)
@media only screen and (min-width: 37.51em) {
	

// ------------------------------------------ Site Alert
#site-alert {
	.marginator {
		padding: 10px 25px 10px 25px;
		width: calc(84% - 50px);
		width: 84%;
  		margin: auto;

		}
	span {
		margin: 0 0 0 0;
			&:before {
		
		}
	}	
	h1 {
		text-align: left;
		margin: 0 0 0 10px;
		a {
		
		
		}
	}
}


}